$textAccentColor: #2C2F3C;
$headerBackground: url("../img/m-h-day.jpg");
$mainFont: 'Hind', sans-serif;
$headerFont: 'Source Sans Pro', sans-serif;
$cardTextColor: #C0C3CE;
$bannerStartColor: #649410;
$bannerEndColor: #2E5CD5;

$bgColors: (
	body: #fff,
	word: #14A0C7,
	button: #699900,
	card: #21232E
);