$textAccentColor: #fff;
$headerBackground: url("../img/m-h-night.jpg");
$mainFont: 'Fresca', sans-serif;
$headerFont: 'Source Sans Pro', sans-serif;
$cardTextColor: #D1D1D1;
$bannerStartColor: #DEA405;
$bannerEndColor: #953150;

$bgColors: (
	body: #21232E,
	word: #FF4E33,
	button: #E3AC00,
	card: #3B3F50
);